body{
    font-family: 'Montserrat', sans-serif;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff 
  }
  
  
  .sidebar-background{
    width: 400px;
  }
  
  /* Navbar */
  nav{
    background-color: transparent  !important;
  }
  
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
  /* SideBar */
  .sidebar-logo{
    max-width: 10%;
    height: auto;
    margin-right: 10px;
  }
  
  /* Footer */
  .page-footer{
    border-top: 1px solid #fff;
    background: #243B55;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141E30, #243B55);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141E30, #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  /* Signin & Signup */
  .box-input-signin{
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .box-input-signin input{
    color: #fff
  }
  .btn-signin{
    width: 45%;
  }
  
  /* UserShow */
  .card{
    color: black;
    padding: 10px;
  }
  .card input, .card input[type=text]:not(.browser-default).validate+label, .card input.valid[type=text]:not(.browser-default), .card input[type=text]:not(.browser-default):focus:not([readonly]){
    color: black !important;
  }
  
  .top-left {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 16px;
  }
  
  .avatar-card {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  
  @media only screen and (max-width: 600px) {
    /* Signin Signup */
    .box-input-signin{
      width: 100%;
    }
    .btn-signin{
      width: 100%;
    }
  
    /* navbar logo */
    .brand-logo {
      width: 200px;
    }
  
    nav .brand-logo{
      padding-top: 10px !important;
    }
  
    .title-logo {
      font-size: 20px;
      margin-top: -13px;
      display: block;
    }
  
    .text-player{
      display: contents;
    }
  }