.pitch {
    background: url('') no-repeat center center;
    width: 306px;
    height: 523px;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  
  .player-pitch{
    display: inline-grid;
    width: 74px;
  }
  
  .box-pitch{
    padding-top: 2px;
  }
  .box-pitch div {
    margin-top: 0;
  }
  
  .box-pitch div:first-child {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .box-pitch div:last-child {
    margin-top: 25px;
  }
  
  .text-player-pitch{
    font-size: 9px;
    color: 'grey';
  }
  
  .team-logo-event{
    width: 5%;
  }
  
  .line-up-sub{
    display: inline;
  }
  
  .goal-event{
    margin-right: 15px;
  }
  
  @media only screen and (max-width: 600px) {
  
  .title-event-details{
    font-size: 12px;
  }
  .team-logo-event{
    width: 20%;
  }
  
  iframe{
    width: 300px !important;
  }
  }